body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 2rem;
  background: #f9f9f9;
}

html {
  overflow-y: scroll;
}

h2 {
  margin: 5px;
}

.layout {
  display: flex;
  gap: 2rem;
}

.sidebar {
  width: 25%;
  min-width: 240px;
}

.content {
  width: 75%;
}

details {
  margin-bottom: 1rem;
  background: #fff;
  padding: 1em;
  border-radius: 15px;
}

summary {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 4px;
  list-style: none;
  position: relative;
  padding-right: 1.5em;
}
/*
summary::after {
  content: "";
  position: absolute;
  right: 0;
  font-size: 0.9em;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}
*/
summary::-webkit-details-marker {
  display: none; /* hides the default arrow in Chrome/Safari */
}

.release {
  background: #fff;
  margin-bottom: 1rem;
}

.flagged {
  color: red;
  font-weight: 700;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid grey;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid grey;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.feedslist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.dayswindow {
  width: 3em;
  padding: 0.2rem;
  margin: 0 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feedurl {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#feedUrl {
  width: 75%;
}

details.wrapper {
  background: #e7e7e7;
}

.markdown-body {
  padding-top: 10px;
}

.feedMain {
  padding: 10px;
  display: flex;
}

.feedMain img.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  flex-shrink: 0;
  padding-right: 10px;
}

.addfeed {
  padding: 2em 0;
}

.feeds {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: large;
}

.feedcheck {
  width: 20px;
  height: 20px;
}

.feedtext {
  margin: 0;
  padding-left: 5px;
}
