body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  margin: 2rem;
  background: #222222;
  color: #ffffff;
}

html {
  overflow-y: scroll;
}

h2 {
  margin: 5px 0px;
  color: #ffffff;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.sidebar {
  flex: 1;
  min-width: 250px;
}

.content {
  flex: 4;
  min-width: 350px;
}

details {
  margin-bottom: 1rem;
  background: #313131;
  border-radius: 15px;
  color: #ffffff;
}

summary {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 15px;
  list-style: none;
  position: relative;
  padding: 15px;
  color: #ffffff;
  user-select: none;
  -moz-user-select: none;
}

summary::-webkit-details-marker {
  display: none;
}

.release {
  background: #222222;
  margin-bottom: 1rem;
}

.flagged {
  color: #ff4d4d !important;
  font-weight: 700;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #555;
  background: #2a2a2a;
  color: #e0e0e0;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.feedslist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.dayswindow {
  width: 3em;
  padding: 0.2rem;
  margin: 0 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feedSlug {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#feedSlug,
#githubToken {
  width: 85%;
}

.markdown-body {
  padding: 15px;
  background: #222222 !important;
  border-radius: 15px;
}

.feedMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.feedMain img.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}

.addfeed {
  padding: 1.5em 0;
}

.feeds {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: large;
  color: #ffffff;
}

.feedcheck {
  width: 20px;
  height: 20px;
}

.feedtext {
  margin: 0;
  padding-left: 5px;
}

.releaseDiv {
  padding: 0 15px 1px;
}

.releaseCount {
  width: 7em;
  display: flex;
  color: #c3ceff;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 25px;
  justify-content: center;
}

.project {
  margin: 0;
  line-break: anywhere;
}

.rateLimitBanner {
  background: #fff3d1;
  padding: 0.5rem 1rem;
  border: 2px solid #f1c40f;
  border-radius: 6px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
}

.updatetoken {
  padding-bottom: 1.5em;
}
