@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --cards-color: #353535;
}

html {
  overflow-y: scroll;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Nunito Sans", "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  padding: 15px 250px 30px;
  margin: 0;
  background: #222222;
  color: #ffffff;
  min-width: 450px;
}

@media (max-width: 1800px) {
  body {
    padding: 15px 30px 30px;
  }
}

@media (max-width: 500px) {
  .lastUpdated {
    display: none;
  }
  .settings {
    margin-left: auto !important;
  }
}

h2 {
  margin: 0;
  color: #ffffff;
  line-height: 0.75;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content {
  flex: 4;
  min-width: 450px;
}

.sidebar {
  flex: 1;
  min-width: 350px;
  padding: 20px;
  background: var(--cards-color);
  border-radius: 15px;
  margin-bottom: auto;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #bdd9fd;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* === RATE LIMIT WARNING === */
.banner {
  margin-bottom: 1rem;
  border-radius: 15px;
  font-size: 1.1em;
  padding: 15px;
  font-weight: 700;
  min-height: 60px;
  color: #000000;
  background-color: #ffd4d1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.errorMessage {
  display: flex;
  flex-direction: column;
}

.banner span {
  line-height: 2px;
}

.banner p {
  margin: 5px;
}

.dismiss-button {
  margin-left: 5px;
  margin-left: auto;
  right: 5px;
  font-weight: 900;
  font-size: 30px;
  line-height: 25px;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}
.dismiss-button:hover {
  color: white;
}

/* === HEADER SECTION === */

.header {
  display: flex;
  padding: 10px 15px;
  background: var(--cards-color);
  border-radius: 15px;
  margin-bottom: 20px;
}

.logo {
  width: 38px;
  height: 38px;
}

.lastUpdated {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  display: flex;
  gap: 12px;
  font-size: 1.8em;
  margin: 0;
  text-wrap: nowrap;
}

.settings {
  position: relative;
  margin-left: 20px;
  margin-bottom: auto;
  background: #232323;
}

.settingsSummary {
  padding: 8px 15px;
  border: 1px solid #707070;
}

.settingsSummary:hover {
  background: #505050;
}

.settingsTitle {
  font-size: 16px;
  margin: 0;
}

.settingsContent {
  margin-top: 10px;
  position: absolute;
  width: 300px;
  margin: auto;
  top: 55px;
  right: 0;
  background: #000000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

.settingsContent:after {
  content: " ";
  position: absolute;
  right: 33px;
  top: -14px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid black;
}

/* === CONTENT SECTION === */
details {
  margin-bottom: 1rem;
  background: var(--cards-color);
  border-radius: 15px;
  color: #ffffff;
}

summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 15px;
  list-style: none;
  box-sizing: border-box;
  padding: 10px 15px;
  color: #ffffff;
  user-select: none;
  -moz-user-select: none;
}

summary.flagged,
details.flagged {
  background: #542c2c !important;
}

summary:hover {
  background: #505050;
}

summary:hover.flagged {
  background: #683636 !important;
}

summary::-webkit-details-marker {
  display: none;
}

.repoMain:hover {
  background: #505050;
}

.repoMain img.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;
}

.project {
  margin: 0;
  line-break: anywhere;
  line-height: 1;
  font-size: 20px;
  font-weight: 500;
}

.releaseCount {
  width: 7em;
  display: flex;
  color: #bdd9fd;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  line-height: 1;
  font-size: 20px;
}

.releaseCount.flagged {
  color: #ff4d4d !important;
  font-weight: 700;
}

.markdown-body.flagged,
.release.flagged,
summary.flagged {
  background: #3c2020 !important;
}

.releaseDiv {
  padding: 0 15px 1px;
}

details.release {
  background: #0a0a0a;
  margin-bottom: 1rem;
}

a.releaseName {
  color: #ffffff;
}

a.releaseName:hover {
  color: #c3ceff;
}

.markdown-body {
  padding: 15px;
  margin: 0px 10px 10px !important;
  width: stretch;
  background: #222222 !important;
  border-radius: 15px;
  display: inline-block;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: #5d5d5db3 !important;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: #5d5d5db3 !important;
}

.markdown-body summary:hover {
  background: #505050 !important;
}

/* === SIDEBAR SECTION === */

.addrepo {
  padding: 25px 0 5px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  color: #ffffff;
}

label[for="githubToken"] {
  margin: 5px 0px;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #555;
  background: #2a2a2a;
  color: #e0e0e0;
}

#repoSlug,
#githubToken {
  width: stretch;
}

.dayswindow {
  width: 30px;
  padding: 0.2rem;
  margin: 0 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reposlist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.repos {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: large;
  color: #ffffff;
}

.repocheck {
  accent-color: #bdd9fd;
  width: 20px;
  margin: 3px 0;
  height: 20px;
  cursor: pointer;
}

.repotext {
  margin: 0;
  padding-left: 5px;
}
