html {
  overflow-y: scroll;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  margin: 2rem;
  background: #222222;
  color: #ffffff;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.content {
  flex: 4;
  min-width: 350px;
}

.sidebar {
  flex: 1;
  min-width: 250px;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* === RATE LIMIT WARNING === */
.banner {
  margin-bottom: 1rem;
  border-radius: 15px;
  font-size: 1.1em;
  padding: 15px;
  font-weight: 700;
  height: 60px;
  color: #000000;
  background-color: #ffd4d1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.banner span {
  line-height: 2px;
}

.dismiss-button {
  margin-left: 5px;
  margin-left: auto;
  right: 5px;
  font-weight: 900;
  font-size: 30px;
  line-height: 25px;
  cursor: pointer;
  background: none;
  border: none;
  transition: 0.3s;
}
.dismiss-button:hover {
  color: white;
}

/* === CONTENT SECTION === */
details {
  margin-bottom: 1rem;
  background: #313131;
  border-radius: 15px;
  color: #ffffff;
}

summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 15px;
  list-style: none;
  position: relative;
  padding: 15px;
  color: #ffffff;
  user-select: none;
  -moz-user-select: none;
}

summary::-webkit-details-marker {
  display: none;
}

.feedMain img.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}

.project {
  margin: 0;
  line-break: anywhere;
  line-height: 1;
}

.releaseCount {
  width: 7em;
  display: flex;
  color: #c3ceff;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 25px;
  justify-content: center;
  line-height: 1;
}

.flagged {
  color: #ff4d4d !important;
  font-weight: 700;
}

.releaseDiv {
  padding: 0 15px 1px;
}

details.release {
  background: #222222;
  margin-bottom: 1rem;
}

.markdown-body {
  padding: 15px;
  background: #222222 !important;
  border-radius: 15px;
}

/* === SIDEBAR SECTION === */
.addfeed {
  padding: 1.5em 0;
}

.updatetoken {
  padding-bottom: 1.5em;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

input[type="text"],
input[type="number"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #555;
  background: #2a2a2a;
  color: #e0e0e0;
}

#feedSlug,
#githubToken {
  width: 85%;
}

.dayswindow {
  width: 3em;
  padding: 0.2rem;
  margin: 0 0.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2 {
  margin: 5px 0px;
  color: #ffffff;
}

.feedslist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.feeds {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: large;
  color: #ffffff;
}

.feedcheck {
  width: 20px;
  height: 20px;
}

.feedtext {
  margin: 0;
  padding-left: 5px;
}
