<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>PatchPeek</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown-dark.min.css"
    />
  </head>
  <body>
    <div class="layout">
      <div class="content">
        <div id="feedsContainer"></div>
      </div>
      <div class="sidebar">
        <h1>👀 PatchPeek</h1>

        <form method="POST" action="/update-days" style="margin-left: auto">
          <label for="daysWindow">Show releases from the last</label>
          <input
            type="number"
            id="daysWindow"
            name="daysWindow"
            min="1"
            value="<%= daysWindow %>"
            required
            class="dayswindow"
            onchange="this.form.submit()"
          />
          days
        </form>

        <form method="POST" action="/add-feed" class="addfeed">
          <label for="feedSlug">Add GitHub release:</label>
          <div class="feedSlug">
            <input
              id="feedSlug"
              name="feedSlug"
              type="text"
              placeholder="user/repo"
              required
            />
          </div>
        </form>

        <form action="/update-token" method="POST" class="updatetoken">
          <label for="githubToken">Github Token:</label>
          <div class="githubToken">
            <input id="githubToken" type="text" name="githubToken" placeholder="github_pat_... / ghp_..." />
          </div>
        </form>

        <h2>Current Feeds</h2>
        <ul class="feedslist">
          <% if (feedsList.length) { %>
            <% feedsList.forEach(feed => { %>
              <li>
                <form method="POST" action="/remove-feed" onchange="this.submit()">
                  <code class="feeds">
                    <input type="checkbox" class="feedcheck" checked />
                    <p class="feedtext"><%= feed %></p>
                  </code>
                  <input type="hidden" name="feedSlug" value="<%= feed %>" />
                </form>
              </li>
            <% }) %>
          <% } else { %>
            <li><em>None yet</em></li>
          <% } %>
        </ul>
      </div>
    </div>
    <script src="/main.js" defer></script>
  </body>
</html>
